{% extends "base.html" %}
{% block content %}

    <section id="home" style="background: url('/static/img/f2.jpg');background-size: cover; background-repeat:no-repeat">
        <h1 class="h-primary">Welcome To Online Food Delivery</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas odit veniam, adipisci ut ab quis voluptatum aliquam sunt mollitia dolore nam aspernatur quaerat nisi sapiente commodi blanditiis voluptate eaque in autem repellat? Eos iusto totam eaque ratione, expedita sed consequuntur?</p>
        <button class="btn" style="background-color: red; border: 2px solid white;" data-bs-toggle="modal" data-bs-target="#exampleModal" >Order Now</button>
    </section>
  
    
    


  
  <!-- Modal -->
   <!--
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Order</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" id="mform">
            <b>Customer Name</b>:<input type="text" size="10"/></form>
            <br>
            <b>Phone Number:</b><input type="text" size="10"/>

            <table  width="100%" text="center" class="center" >
    
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>Pizza</td>
                    <td><input type="text" size="10" readonly value="120"></td>
                    <td><input type="text" size="10"></td>
                    <td><input type="text" size="10"></td>
                    
                   
                </tr>
                <tr>
                    <td>Burger</td>
                    <td><input type="text" size="10" readonly value="150"></td>
                    <td><input type="text" size="10"></td>
                    <td><input type="text" size="10"></td>
                </tr>
                <tr>
                    <td>Sandwitch</td>
                    <td><input type="text" size="10" readonly value="180"></td>
                    <td><input type="text" size="10"></td>
                    <td><input type="text" size="10"></td>
                </tr>
            </table>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Clear Order</button>
          <button type="button" class="btn btn-primary">Place Order</button>
        </div>
      </div>
    </div>
  </div>
-->
</body>
</html>
{% endblock %}