{% include "header1.html" %}
    <section id="services-container">
        <h1 class="h-primary center">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="/static/img/f1.jpg" alt="">
                <h2 class="h-secondary center">Food Ordering</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus blanditiis temporibus expedita voluptatibus, sint itaque sunt id harum unde minima voluptate suscipit dolor quaerat porro quidem autem iusto corporis eos totam hic nam.</p>
            </div>
            <div class="box">
                <img src="/static/img/f3.jpg" alt="">
                <h2 class="h-secondary center">Food Ordering</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus blanditiis temporibus expedita voluptatibus, sint itaque sunt id harum unde minima voluptate suscipit dolor quaerat porro quidem autem iusto corporis eos totam hic nam. </p>
            </div>
            <div class="box">
                <img src="/static/img/f4.jpg" alt="">
                <h2 class="h-secondary center">Food Ordering</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus blanditiis temporibus expedita voluptatibus, sint itaque sunt id harum unde minima voluptate suscipit dolor quaerat porro quidem autem iusto corporis eos totam hic nam. </p>
            </div>
        </div>
    </section>
    <section id="client-section">
        <h1 class="h-primary center">Our Clients</h1>
        <div id="clients">
            <div class="client-item">
                <img src="/static/img/logo1.jpg" alt="">
            </div>
            <div class="client-item">
                <img src="/static/img/logo2.jpg" alt="">
            </div>
            <div class="client-item">
                <img src="/static/img/logo3.jpg" alt="">
            </div>
            <div class="client-item">
                <img src="/static/img/logo4.jpg" alt="">
            </div>
        </div>
    </section>
{% include 'footer.html' %}
    
</body>
</html>